[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jwt = "*"
flask = "*"
flask-httpauth = "*"
requests = "*"
psycopg2-binary = "*"
python-dotenv = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.12"
